// variables
    // colors
$color-white: #ffff
$color-black: #232323
$color-second: #34e7ee

$bgc-primary: linear-gradient(to left, #4b6cb7, #182848)
$bgc-second: #071124

// / variables

// === mixins === //
    // fonts & paddings
@mixin title
    font-size: 2.5rem
    font-weight: bold
    padding-bottom: 10px
@mixin subtitle
    padding-bottom: 30px
    font-size: 1.2rem
    color: gray
@mixin button
    margin-top: 30px
    padding: 10px 40px
    text-transform: uppercase
    font-size: 1.2rem
    background-color: orange
    border-radius: 40px
    border: none
    outline: none
@mixin icon-outer
    display: flex
    align-items: center
    justify-content: center
    height: 80px
    width: 80px
    background: linear-gradient(to left, #4b6cb7, #182848)
    border-radius: 50%
    margin-bottom: 20px
@mixin icon-inner
    object-fit: contain
    height: 50px
    width: 80px
@mixin padding-top-button
    padding-top: 30px
    padding-bottom: 30px
// === mixins === //

// commons

.section-outer
.section-inner
    width: 100%
    margin: 0 auto
// / commons

// header //
.section-header
    height: 100%
    color: $color-white
    background: $bgc-primary
    .section-inner
        width: 80%
        .section-header-toolbar
            @include padding-top-button
            display: flex
            align-items: center
            .section-header-logo
                @include title
                color: $color-white

        .section-header-menu
            display: flex
            justify-content: space-between
            text-transform: uppercase
            padding: 0
            &-item
                padding-left: 30px
                font-size: 1rem
            &-item:last-child
                padding: 0 5px
                height: 28px
                margin-left: 30px
                border: 1px solid
                border-radius: 10px
            &-item a
                color: $color-white
                text-decoration: none

        .section-header-content
            @include padding-top-button

            flex-grow: 1
            display: flex
            align-items: center
            justify-content: center
            width: 80%

        .section-header-wrapper
            display: flex
            justify-content: space-between
            margin: 0
            .section-header-wrapper-left
                display: flex
                flex-direction: column
                justify-content: center
                &-title
                    @include subtitle

                    text-decoration: underline
                    text-transform: uppercase
                    color: $color-second
                &-text
                    font-size: 2.5rem
                    font-weight: bold

                &-button button
                    @include button
                    margin-bottom: 30px
            .section-header-wrapper-right
                &-img img
                    justify-content: flex-end
                    height: 550px
                    margin-bottom: 40px

// / header //

// section-welcome //
.section-inner

.section-welcome
    @include padding-top-button

    text-align: center

    &-content
        width: 80%
        margin: 0 auto
        &-title
            @include title
        &-subtitle
            @include subtitle
        &-text
            @include subtitle
        &-logo
            display: flex
            justify-content: space-between
            & img
                padding-bottom: 10px
                height: 60px

// / section-welcome //

// section outstanding //
.section-outer

    .section-outstanding
        display: flex
        margin: auto
        &-left
            background: $bgc-primary
            color: $color-white
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            &-content
                padding-top: 20px
                padding-bottom: 20px
                &-header
                    font-size: 1rem
                    margin-bottom: 20px
                    text-decoration: underline
                    text-transform: uppercase
                    color: $color-second
                &-title
                    @include title
                &-text
                    @include subtitle
                    color: $color-white
                &-button button
                    @include button
        &-right
            padding: 0
        &-right img
            object-fit: none
            height: 400px
            width: 100%
// / section outstanding //

// section features //
.section-features
    .section-features-content
        @include padding-top-button

        width: 80%

        .section-features-header
            display: flex
            flex-direction: column
            align-items: center
            text-align: center

            &-title
                @include title

            &-subtitle
                @include subtitle
        .section-features-features
            @include padding-top-button

            display: flex
            justify-content: space-between
            text-align: center
            &-item
                display: flex
                flex-direction: column
                align-items: center
                &-icon
                    @include icon-outer
                &-icon img
                    @include icon-inner
                &-description
                    color: $color-second
                    text-transform: uppercase
                    border-bottom: 1px solid
                    padding-bottom: 7px
                    margin-bottom: 10px
                &-title
                    @include subtitle
                    color: $color-black
                    font-weight: bold
                    padding-bottom: 10px
                &-text
                    font-size: 1rem
                    color: gray
                    padding-bottom: 20px
                &-link
                    color: darkblue
                    padding-bottom: 20px
// / section features //

// section testimonials //
// / section testimonials //

// section screens //
.section-inner
    .section-screens

        &-content
            @include padding-top-button

            width: 80%
            display: flex
            text-align: center
            .section-screens-left
                display: flex
                justify-content: center
                align-items: center
                &-img img
                    height: 550px
            .section-screens-right

                &-content
                    &-title
                        @include title
                    &-subtitle
                        @include subtitle
                    &-links
                        display: flex
                        justify-content: space-between
                        color: gray
                        &-link
                            text-transform: uppercase
                    &-screen
                        display: flex
                        flex-direction: column

                        &-box
                            padding-top: 20px
                            display: flex
                            text-align: start
                            &-icon
                                @include icon-outer
                            &-icon img
                                @include icon-inner
                            &-cont
                                padding-left: 30px
                                &-title
                                    @include subtitle
                                    font-weight: bold
                                    color: $color-black
                                &-text

// / section screens //

// section download //
// .section-inner
.section-download
    @include padding-top-button

    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    background: $bgc-primary

    &-title
        @include title
        color: $color-white
    &-subtitle
        @include subtitle
        color: $color-white
    &-buttons
        display: flex
        flex-direction: row
        &-button
        &-button img
            height: 50px
            margin: 10px
// / section download //

// section footer //
.section-footer
    // width: 100%
    background-color: $bgc-second
    color: $color-white
    &-content
        @include padding-top-button

        &-one
            display: flex
            flex-direction: column
            align-items: center
            &-title
                @include title
            &-contact
                margin-bottom: 100px
                opacity: .4
                width: 350px
                &-address
                    &-detail
                        margin-top: 15px
                        display: flex
                        justify-content: space-between
                        &-phone
                        &-mail
        &-two
            display: flex
            justify-content: space-between
            text-align: center
            margin: 0 auto
            &-logo
                font-weight: bold
                font-size: 1.5rem
            &-logo img
                height: 15px
            &-copyright
                opacity: .4
                padding-top: 10px
            &-social
                display: flex
                font-size: 1.5rem
                justify-content: center
                &-item
                    font-weight: bold
                    margin: 5px
                &-item img
                    // height: 30px
// / section footer //
