<!-- header -->
<section class="section-outer section-header ">
  <div class="section-inner ">
    <div class="section-header-toolbar row m-auto">
      <div class="section-header-logo col-lg-2">
        wavy
      </div>
      <div class="section-header-menu d-none d-lg-flex col-lg-10 ">
        <div class="section-header-menu-item">
          <a href="#">the product</a>
        </div>
        <div class="section-header-menu-item">
          <a href="#">features</a>
        </div>
        <div class="section-header-menu-item">
          <a href="#">features</a>
        </div>
        <div class="section-header-menu-item">
          <a href="#">screens</a>
        </div>
        <div class="section-header-menu-item">
          <a href="#">contact</a>
        </div>
        <div class="section-header-menu-item">
          <a href="#">download</a>
        </div>
      </div>
    </div>
    <div class="section-header-content m-auto">
      <div class="section-header-wrapper row ">
        <div class="section-header-wrapper-left col-sm-12 col-md-6 col-lg-8">
          <div class="section-header-wrapper-left-title">welcome to our landing page</div>
          <div class="section-header-wrapper-left-text">Try out our awesome mobile application</div>
          <div class="section-header-wrapper-left-button">
            <button>download the app</button>
          </div>
        </div>
        <div class="section-header-wrapper-right col-sm-12 col-md-6 col-lg-4">
          <div class="section-header-wrapper-right-img">
            <img src="../assets/img/New Project.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / header -->


<!-- section welcome -->
<section class="section-outer section-welcome">
  <div class="section-inner">
    <div class="section-welcome-content">
      <div class="section-welcome-content-title">Welcome to Wavy</div>
      <div class="section-welcome-content-subtitle">An amazing landing page template</div>
      <div class="section-welcome-content-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id provident,
        dolorem
        illo
        cumque praesentium enim minus earum quidem natus obcaecati possimus aut, maxime eveniet mollitia necessitatibus
        quasi,
        at sapiente. Tempnt tenetur eveniet at molestias voluptatibus cumque delectus. Pariatur, maiores
        provident modi iste ut cum suscipit magnam nam. Reprehenderit, velit totam!</div>
      <div class="section-welcome-content-logo row">
        <div class="section-welcome-logo-item col-sm-12 col-md-6 col-lg-3">
          <img src="../assets/img/logo/5cb480b85f1b6d3fbadece78.png" alt="">
        </div>
        <div class="section-welcome-logo-item col-sm-12 col-md-6 col-lg-3">
          <img src="../assets/img/logo/133-1337485_icon-spotify-spotify-logo-png-white.png.crdownload" alt="">
        </div>
        <div class="section-welcome-logo-item col-sm-12 col-md-6 col-lg-3">
          <img src="../assets/img/logo/adobe-logo-transparent-background.png" alt="">
        </div>
        <div class="section-welcome-logo-item col-sm-12 col-md-6 col-lg-3">
          <img src="../assets/img/logo/google.png.crdownload" alt="">
        </div>
      </div>
    </div>

  </div>
</section>
<!-- // section welcome -->

<!-- section outstanding -->
<section class="section-outer ">
  <div class="section-inner section-outstanding row">
    <div class="section-outstanding-left col-sm-12 col-lg-4">
      <div class="section-outstanding-left-content">
        <div class="section-outstanding-left-content-header">landing page</div>
        <div class="section-outstanding-left-content-title">welcome to our landing page</div>
        <div class="section-outstanding-left-content-text">Try out our awesome mobile application</div>
        <div class="section-outstanding-left-content-button">
          <button>download the app</button>
        </div>
      </div>
    </div>
    <div class="section-outstanding-right col-sm-12 col-lg-8">
      <img src="../assets/img/logo/girl.jpg" alt="">
    </div>
  </div>
</section>
<!-- // section outstanding -->

<!-- section features -->
<section class="section-outer">
  <div class="section-inner  section-features">
    <div class="section-features-content m-auto">
      <div class="section-features-header">
        <div class="section-features-header-title">Awesome Features</div>
        <div class="section-features-header-subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Atque, aperiam?</div>
      </div>
      <div class="section-features-features row m-auto">
        <div class="section-features-features-item col-sm-12 col-md-4 col-lg-4">
          <div class="section-features-features-item-icon">
            <img src="../assets/icons/icons8-ruler-64.png" alt="">
          </div>
          <div class="section-features-features-item-description">description</div>
          <div class="section-features-features-item-title">Beatiful interface</div>
          <div class="section-features-features-item-text">Lorem ipsumet consectetur ipsumet consectetur,
            adipisicing elit.
            Accusamus, consectetur!</div>
          <div class="section-features-features-item-link">link</div>
        </div>
        <div class="section-features-features-item col-sm-12 col-md-4 col-lg-4">
          <div class="section-features-features-item-icon">
            <img src="../assets/icons/icons8-speed-24.png" alt="">
          </div>
          <div class="section-features-features-item-description">description</div>
          <div class="section-features-features-item-title">Will the speed of Right</div>
          <div class="section-features-features-item-text">Lorem ipsum dol ipsumet consectetur or sit amet
            consectetur adipisicing elit.
            Non, eveniet.</div>
          <div class="section-features-features-item-link">link</div>
        </div>
        <div class="section-features-features-item col-sm-12 col-md-4 col-lg-4">
          <div class="section-features-features-item-icon">
            <img src="../assets/icons/icons8-online-support-64.png" alt="">
          </div>
          <div class="section-features-features-item-description">description</div>
          <div class="section-features-features-item-title">Proffesional support</div>
          <div class="section-features-features-item-text">Lorem ipsum dolor sit ipsumet consectetur amet
            consectetur adipisicing elit.
            Fugit, at.</div>
          <div class="section-features-features-item-link">link</div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- // section features -->

<!-- testimonials -->


<!-- // testimonials -->

<!-- section screens -->
<section class="section-outer ">
  <div class="section-inner section-screens">
    <div class="section-screens-content row m-auto">
      <div class="section-screens-left col-sm-12 col-md-6 col-lg-5">
        <div class="section-screens-left-img">
          <img src="../assets/img/New Project.png" alt="">
        </div>
      </div>
      <div class="section-screens-right col-sm-12 col-md-6 col-lg-7">
        <div class="section-screens-right-content">
          <div class="section-screens-right-content-title">Features Screens</div>
          <div class="section-screens-right-content-subtitle">Lorem ipsum dolor sit amet consectetur
            Dolorem</div>
          <div class="section-screens-right-content-links">
            <div class="section-screens-right-content-links-link">app screen</div>
            <div class="section-screens-right-content-links-link">app screen</div>
            <div class="section-screens-right-content-links-link">app screen</div>
          </div>
          <div class="section-screens-right-content-screen">
            <div class="section-screens-right-content-screen-box">
              <div class="section-screens-right-content-screen-box-icon">
                <img src="../assets/icons/icons8-online-support-64.png" alt="">
              </div>
              <div class="section-screens-right-content-screen-box-cont">
                <div class="section-screens-right-content-screen-box-cont-title">Sync across your devices</div>
                <div class="section-screens-right-content-screen-box-cont-text">Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Quidem cum tempora, error consequatur pariatur iste.</div>
              </div>
            </div>
            <div class="section-screens-right-content-screen-box">
              <div class="section-screens-right-content-screen-box-icon">
                <img src="../assets/icons/icons8-online-support-64.png" alt="">
              </div>
              <div class="section-screens-right-content-screen-box-cont">
                <div class="section-screens-right-content-screen-box-cont-title">Secure connection</div>
                <div class="section-screens-right-content-screen-box-cont-text">Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Quidem cum tempora, error consequatur pariatur iste.</div>
              </div>
            </div>
            <div class="section-screens-right-content-screen-box">
              <div class="section-screens-right-content-screen-box-icon">
                <img src="../assets/icons/icons8-online-support-64.png" alt="">
              </div>
              <div class="section-screens-right-content-screen-box-cont">
                <div class="section-screens-right-content-screen-box-cont-title">Notifications</div>
                <div class="section-screens-right-content-screen-box-cont-text">Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Quidem cum tempora, error consequatur pariatur iste.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- // section screens -->

<!-- section download -->
<section class="section-outer">
  <div class="section-inner section-download">
    <div class="section-download-title">Download the App</div>
    <div class="section-download-subtitle">Download our awesome app from the App Store now!</div>
    <div class="section-download-buttons">
      <div class="section-download-buttons-button">
        <img src="../assets/img/logo/google-play.png" alt="">
      </div>
      <div class="section-download-buttons-button">
        <img src="../assets/img/logo/app-store.png" alt="">
      </div>
    </div>
  </div>
</section>
<!-- // section download -->

<!-- section footer -->
<section class="section-outer">
  <div class="section-inner section-footer">
    <div class="section-footer-content">
      <div class="section-footer-content-one">
        <div class="section-footer-content-one-title">Get in touch!</div>
        <div class="section-footer-content-one-contact">
          <div class="section-footer-content-one-contact-address">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Possimus, quibusdam.
            <div class="section-footer-content-one-contact-address-detail">
              <div class="section-footer-content-one-contact-phone">4253647362</div>
              <div class="section-footer-content-one-contact-mail">ikova.ua@gmail.com</div>
            </div>
          </div>

        </div>
      </div>
      <div class="section-footer-content-two row">
        <div class="section-footer-content-two-logo col-sm-12 col-md-3 col-lg-4">
          wavy
        </div>
        <div class="section-footer-content-two-copyright col-sm-12 col-md-6 col-lg-4">Copyright 2021 Wave App.
          All right reserved.
        </div>
        <div class="section-footer-content-two-social col-sm-12 col-md-3 col-lg-4">
          <div class="section-footer-content-two-social-item">f</div>
          <div class="section-footer-content-two-social-item">y</div>
          <div class="section-footer-content-two-social-item">t</div>
          <div class="section-footer-content-two-social-item">i</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // section footer -->